body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/B4nnSA3.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}
.logo1{
    position: absolute;
    height: 3rem;
    top: 2rem;
    right: 1rem;
    z-index: -1;
}
.logo2{
    position: absolute;
    height: 3rem;
    top: 2rem;
    left: 1rem;
    z-index: -1;
}
.game-container{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 
    0 0 15px #4f84f5,
    0 0 15px #4f84f5,
    0 0 15px #4f84f5,
    0 0 15px #4f84f5,
    0 0 15px #4f84f5,
    0 0 15px #4f84f5,   
    0 0 15px #4f84f5;
}

img {
    height: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}